[submodule "OWScript"]
	path = OWScript
	url = git@github.com:adapap/OWScript.git
	branch = master
[submodule "ow-friendly-mode"]
	path = Friendly mode
	url = git@github.com:Bluscream/ow-friendly-mode.git
	branch = master